html {
  background-image: url("../img/bg.idea-rev.png");
}

.navbar-default {
  background: white;
  border-color: #808080;
}

.navbar-default, .navbar-brand {
  color: black !important;
}


#links {
  vertical-align: 50%;
  position: absolute;
  top: 12.5%;
  width: 100%;
}

.list-group-item {
  border-radius: 0 !important;
  border: .125em solid black;
  margin: 1em;
  text-align: center;
}
