html {
  background: url("../img/bg.idea.png") no-repeat;
  background-size: cover;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .25em;
}

.navbar {
  border: none !important;
}

.navbar-default {
  background: white;
  border-color: #808080;
}

.navbar-default, .navbar-brand {
  color: black !important;
}

.tooltip-inner {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
   padding: 1em;
   width: 200%;
   border-radius: 0;
}

.tool-tip {
  border-radius: 0;
}

.tool-tip.in {
  opacity: 1;
  filter: alpha(opacity=1);
}

.tool-tip.bottom {
  margin: 2em !important;
}

#links {
  vertical-align: 50%;
  position: absolute;
  top: 12.5%;
  width: 100%;
}

.list-group-item {
  border-radius: 0 !important;
  /*border: .125em solid black;*/
  border: none !important;
  margin: 1em 0;
  text-align: center;
  color: black;
/*  opacity: .5;
  background: #F0F0F0;*/
}

.list-group-item:hover {
  color: white;
  background: black;
}

a:hover {
  text-decoration: none;
}

/*NEW ORDER STYLING*/
#squares {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 180px;
  height: 30px;
  padding: 0;
  margin: 0;
  object-fit: contain;
  display: flex;
  flex-wrap: wrap;
}

.twobyone {
  margin: 0;
  height: 15px;
  width: 30px;
/*  display: flex;*/
  padding: 0;
}

.pink {
  background: pink;
}

.green {
  background: green;
}

.purple {
  background: purple;
}

.orange {
  background: orange;
}

.yellow {
  background: yellow;
}

.white {
  background: white;
}

.darkviolet {
  background: darkviolet;
}

.lightblue {
  background: lightblue;
}

/*END NEW ORDER STYLING*/
