html {
  background-image: url("../img/bg.idea-rev.png");
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  text-transform: uppercase;
  letter-spacing: .25em;
}

.navbar {
  border: none !important;
}

.navbar-default {
  background: white;
  border-color: #808080;
}

.navbar-default, .navbar-brand {
  color: black !important;
}


#links {
  vertical-align: 50%;
  position: absolute;
  top: 12.5%;
  width: 100%;
}

.list-group-item {
  border-radius: 0 !important;
  /*border: .125em solid black;*/
  border: none !important;
  margin: 1em 0;
  text-align: center;
  color: black;
}

/*NEW ORDER STYLING*/
#squares {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 180px;
  height: 30px;
  padding: 0;
  margin: 0;
  object-fit: contain;
  display: flex;
  flex-wrap: wrap;
}

.twobyone {
  margin: 0;
  height: 15px;
  width: 30px;
/*  display: flex;*/
  padding: 0;
}

.pink {
  background: pink;
}

.green {
  background: green;
}

.purple {
  background: purple;
}

.orange {
  background: orange;
}

.yellow {
  background: yellow;
}

.white {
  background: white;
}

.darkviolet {
  background: darkviolet;
}

.lightblue {
  background: lightblue;
}

/*END NEW ORDER STYLING*/
